
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/project.assets.json
WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/project.assets.json
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
Domain/obj/project.nuget.cache
Domain/obj/project.assets.json
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Application/obj/project.nuget.cache
Application/obj/project.assets.json
Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net8.0/Application.assets.cache
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Application.csproj.nuget.dgspec.json
.vs/CMMCore/FileContentIndex/98c2c9a3-1269-475c-897d-ea8832aea3d3.vsidx
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.assets.cache
Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebAPI/obj/project.assets.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net8.0/Application.assets.cache
Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/project.assets.json
Application/obj/project.nuget.cache
Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net8.0/Domain.assets.cache
Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/project.assets.json
Domain/obj/project.nuget.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
WebAPI/obj/project.assets.json
WebAPI/obj/project.nuget.cache
WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/Application/obj
/Application/obj
/Domain/obj
/Infrastructure/obj
/WebAPI/obj
